<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href= "Styles/introPage2.css">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<html>
<head>
	<title></title>
</head>
<body>
	<div id="wrapper">
		<div id="child">
			<p>Let's try it together!</p>
		</div>
	</div>
	<div id="nextButton">
		<a href="task1.html">
			<img src="Images/next.jpg">
		</a>
	</div>
</body>
</html>