<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href= "Styles/login.css">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<html>
<head>
	<title>Login</title>
</head>
<body>
	<form action="/transition" method="post" style="text-align: center">
        <p id="directions">Type in your username below and click the arrow to begin: <br></p>
        <p id="username_txt">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text">
        </p>

        <p>
            <input type="image" value="login" id="login_btn"
                   src="{{ url_for('static', filename='Images/next.jpg')}}">
        </p>
    </form>

</body>
</html>