<link 
	rel= "stylesheet" 
	type= "text/css" 
	href= "{{ url_for('static', filename='styles/layout.css') }}">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<div id="heading">
	<h1>Welcome!</h1>
</div>

<div id=user-input>
	<h2>Input Your Name Below:</h2> 
	<form action = '/login' method = 'post'>
		First Name: <br>
		<input type="text" name="firstname"> <br>
		Last Name: <br>
		<input type="text" name="lastname"><br>
		<p></p>
		<input type="submit" name="submit">
	</form>
</div>