<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename="Styles/introPage2.css")}}">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<html>
<head>
    <title></title>
</head>
<body>
<div id="wrapper">
    <div id="child">
        <p>Thank you for all your hard work! You are all done with this activity.</p>
        <p>Please return to ASSISTments. </p>
        <p>Thank you!</p>
    </div>
</div>
</body>
</html>